.admin-panel {
    display: flex;
    flex-direction: row;
}

.sidebar {
    width: 20%;
    min-width:250px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

/* ESTO DEL BUTTON ES PROVISIONAL, PARA TENER UN EJEMPLO VISUAL 
LOS BOTONES SERAN DE BOOTSTRAP Y
COGERAN LOS ESTILOS DEL GLOBAL CSS  */
.sidebar button {
    background-color: var(--button-bg);
    color: #FFFFFF;
    padding: 10px;
    margin: 5px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.sidebar button:hover {
    background-color: var(--button-bg-hover);
}

.taula_container {
    width: 80%;
    padding: 20px;
    background-color: #FFFFFF;
    border-left: solid 2px  black;

}

.taula {
    display: none;
}

        
.expand-btn { 
    cursor: pointer; 
}