:root{
    --admin-icon: rgb(240, 24, 24);
    --admin-icon-hover: rgb(141, 15, 15);
}
.admin-panel {
    display: flex;
    flex-direction: row;
}

#admin-icon-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width:50px;
    height:50px;
    border-radius: 50%;
    background-color: var(--admin-icon);
    #admin-icon{
        font-size: 2rem;
        color:var(--admin-icon-hover);
    }
}
.sidebar {
    width: 20%;
    height: 600px;
    min-width:250px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
}


.sidebar button {
    background-color: var(--button-bg);
    color: #FFFFFF;
    padding: 10px;
    margin: 5px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.sidebar button:hover {
    background-color: var(--button-bg-hover);
}

.taula_container {
    width: 80%;
    padding: 20px;
    background-color: #FFFFFF;
    border-left: solid 2px  black;

}

.taula {
    display: none;
}

.eskaeraTaula{
    background-color: grey;
}
        
.expand-btn { 
    cursor: pointer; 
}
.thead-light{
    background-color: grey;
}

@media(width < 820px){
    .admin-panel {
        flex-direction: column;
    }
    .table {
        font-size: 0.6rem; /* Ajusta el tamaño de la fuente en dispositivos móviles */
    }
    .btn {
        font-size: 0.5rem;  /* Tamaño de fuente más pequeño */
        padding: 0.25rem 0.25rem;  /* Menos espacio dentro del botón */
    }
    .sidebar {
        width: 100%;
        height:auto;
    }
    .taula_container {
        width: auto;
    }
    .taula {
        width: auto;
    }

}