:root{
    --background: #fff;
    --text: #000;
    --text-sec: #5e5e5e;
    --button-bg: #95bf47;
    --button-bg-hover: #5e8e3e;
}

body{
    align-items: center;
}

#carouselExampleIndicators{
    width: 100%;
    height: 40vw;
    
    .carousel-inner{
        width: 100%;
        height: 40vw;
    }
}

#produktuak{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    width: 95%;
    margin-top: 20px;
    padding: 0 20px;

    .card{
        display: flex;
        align-items: center;
        flex-direction: column;
        box-shadow: 0 5px 5px gray;
        transition:.2s;

        &:hover{
            box-shadow: 0 5px 5px #95bf47;
        }

        img{
            max-height: 250px;
            object-fit: contain;
        }

        .produktu-informazioa{
            display: flex;
            align-items: start;
            flex-direction: column;
            width: 100%;
            padding: 0 20px;

            .produktu-izena{
                color:var(--text);
                text-decoration: none;
                font-size: 18px;

                &:hover{
                    text-decoration: 2px underline black;
                }
            }

            .eragina{
                margin: 10px 0;
            }

            .produktu-prezioa-info{
                display: flex;
                align-items: center;

                del{
                    margin-right: 15px;
                }
                
            }

            .produktu-prezioa{
                font-size: 20px;
                font-weight: bold;
            }
        }
    }
}